.tab_box{
  width: 100%;
  height: 100%;
  ul{
    width: 100%;
    height: 30px;
    float: left;
    list-style: none;
    display: flex;
    margin: 0;
    background: #917430;
    li{
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 17px;
      color: white;
    } 
  }
}